extends layout

block content
  h1.cover-heading Welcome to Pairletes.
  br
  p.lead Pairletes is a fitness matchmaking app.
  p.lead We want to pair you up with your dream fitness partner!
  br
  p.lead
    a.btn.btn-lg.btn-default(href='/findMatch') Find a Match!

  br 
  p Other links
  a(href="/editProfile") Edit Profile 
  br
  a(href="/profile") Your Profile
