doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Pairletes is a fitness matchmaking app.')
    meta(name='author', content='Matthew Seneque, Kieran Quirke-Brown and Debbie Yung')
    title Pairletes
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lobster+Two', rel='stylesheet')

      
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script.
        jQuery(function($){
            var socket = io.connect();
            var $msgForm = $('#msgForm');
            var $msgBox = $('#message');
            var $chat = $('#chatWindow');

            $msgForm.submit(function(e){
                e.preventDefault();
                socket.emit('send message', $msgBox.value());
                messageBox.val('');
            });

            socket.on('new message', function(data){
                $chat.append(data + "<br/>");
            });
        });

  body
    .site-wrapper
          .site-wrapper-inner
            .cover-container
              .masthead.clearfix
                if (user)
                  .login-status
                  p Welcome, #{user.name}!
                .inner
                  h3.masthead-brand.logo 
                    a.logo(href="/") Pairletes              
                        
                  nav
                    ul.nav.masthead-nav
                      li
                        a(href="/about") About
                        
                      if (!user)
                        li
                          a(href="/login") Login
                        li 
                          a(href="/register") Register
                      
                      if (user)
                        li 
                          a(href="/profile/"+user.id) Profile
                        li.active
                          a(href="/logout") Logout
                          
                
                  
              .inner.cover    
                block content
              .mastfoot
                .inner
                  p &copy; 2017 Matthew Seneque, Kieran Quirke-Brown and Debbie Yung

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='/js/jquery-3.2.1.min.js')
    script(src='/js/bootstrap.min.js')
