extends layout

block content
  h1 Login
  .frame
    p Enter your details here
    br
    form(action="/login",method="post")
      .form-group
        label(for='username') Email:
        |  
        input#email.form-control(type='email', placeholder='Enter email', name='username')
      .form-group
        label(for='password') Password:
        |  
        input#pwd.form-control(type='password', placeholder='Enter password', name='password')
      .checkbox
        label
          input(type='checkbox', name='remember')
          |  Remember me
      |  
      input.btn.btn-default(type='submit', value='Login')
        

    
