extends layout

block content
  h1 Profile
  br
  p Name: #{user.name}
  p Email: #{user.username}
  p Gender: #{user.gender}
  br
  a(href='/editProfile')
    button.btn.btn-default(type='button') Edit Profile
