extends layout

block content
  h1 Register
  .frame
    p Enter your details here
      if errors
        each error, i in errors
          div.alert.alert-danger #{error.msg}
    br
    form(action="/register",method="post")
      .form-group
        label(for='name') Name: 
        input#name.form-control(type='text', placeholder='Enter your name', name='name')
        
      .form-group
        label(for='email') Email: 
        input#email.form-control(type='email', placeholder='Enter email', name='email')
        
      .form-group
        label(for='password') Password:  
        input#pwd.form-control(type='password', placeholder='Enter password', name='password', autocomplete="new-password")
        
      .form-group
        label(for='gender') Gender:  
        select#gender.form-control(name='gender')
          option(value='Female') Female
          option(value='Male') Male
          
      //- .form-group
      //-   label Birthday: 
      //-   br 
      //-   input#day-field.dobForm(type='text', placeholder='DD', maxlength="2", name='day')
      //-   input#mth-field.dobForm(type='text', placeholder='MM', maxlength="2", name='month')
      //-   input#yr-field.dobForm(type='text', placeholder='YYYY', maxlength="4", name='year')
      //- 

                
      input.btn.btn-default(type='submit', value='Register')

      if (errMessage)
        p #{errMessage}
