extends layout

block content
  h1 Register
  .frame
    p Enter your details here
    br
    form(action="/register",method="post")
      .form-group
        label(for='email') Email:
        |  
        input#email.form-control(type='email', placeholder='Enter email', name='email')
      .form-group
        label(for='pwd') Password:
        |  
        input#pwd.form-control(type='password', placeholder='Enter password', name='pwd')
      .checkbox
        label
          input(type='checkbox', name='remember')
          |  Remember me
      |  
      input.btn.btn-default(type='submit', value='Submit')

      
